body{
    height: 100em;
    width: 100em;
    background-color: black;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;;
}

main{

    height: 60em;
    width: 90em;
    display: grid;
    grid-template-areas: 
        "header"
        "board"
        "score";
    justify-content: center;
    justify-items: center;
    align-items: center;
    }   

.title{
    font-size: 50px;
    grid-area: header;
    text-align: center;
    justify-content: center;
    color: gold;
}

.description{
    text-align: center;
    margin-top: 300px;
    width: 500px;
    grid-area: header;
    font-size: 20px;
    color: white;
}

.board{
    grid-area: board;
    min-height: 400px;
    min-width: 600px;
}
.score{
    grid-area: score;
    height: 100px;
    width: 600px;
    background-color:rgba(78, 74, 74, 0.856);
    margin-right: 10px;
    padding-top: 50px;
    border-radius: 50px;
    box-shadow: rgba(255, 197, 8, 0.863)  3px 10px 20px;


}




#changeBtn{
    background-color: rgb(255, 6, 6);
    height: 50px;
    width: 70px;
    align-items: center;
    text-align: center;
    grid-area: board;
    color: white;
    font-style: bold;
}


.tickets{
    grid-area: board;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas:
    "starW harryP"
    "lotr  marvel";
    width: 100%;
}

#starW{
    grid-area: starW;
    margin-top: 40px;
    margin-left: 50px;
}

#lotr{
    background-position: center;
    grid-area: lotr;
    margin-left: 40px;
    background-size: fill;
    
}
#harryP{
    grid-area: harryP;
    margin-top: 40px;
    margin-right: 40px;
}
#marvel{
    grid-area: marvel;
}


.quesBox{
    background-color: rgba(0, 0, 0, 0.781);
    grid-area: board;
    height: 300px;
    width: 600px;
    padding-bottom: 60px;
    border-radius: 100px;
    color: rgb(12, 14, 12);
    border: 10px solid rgba(66, 66, 66, 0.178);
    /* box-shadow: rgba(106, 243, 27, 0.829) 4px 5px 20px; */
}


.question, .quesOp{
    text-align: center;
    font-size: 20px;
}
.question{
    color: rgba(255, 254, 254, 0.788);
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    justify-self: center;
    margin-top: 50px;
    margin-left: 43px;
    border-radius: 13px;
    box-shadow: rgba(201, 198, 198, 0.493) 10px 4px 10px 3px, rgba(199, 199, 199, 0.493) -10px 4px 20px 3px;

}
.quesOp{
    list-style-type: none;
    width: 300px;
    margin-left: 100px;
    
}
.option{
    cursor:crosshair;
    color: rgb(255, 217, 0);
    border: 2px solid black;
    margin: 7px;   
    text-align: center;
    border-radius: 20px;
    background-color: rgba(102, 101, 101, 0.5);
    border: 2px solid rgba(50, 52, 54, 0.295);
}
.option:hover{
    background-color: rgb(0, 0, 0); 
    box-shadow: rgba(162, 1, 255, 0.493) 10px 4px 10px 3px, rgba(162, 1, 255, 0.493) -10px 4px 20px 3px;
    color: rgb(255, 255, 255);


}

.response{
    background-repeat: no-repeat;
    background-size:fill;
    background-position: center;
    justify-content: center;
    align-self: center;
    grid-area: board;
    height: 200px;
    width: 200px;
    font-size:25px;
    margin-left: 200px;
}
.scoreB{
    list-style: none;
    display: inline-flex;
    column-gap: 20px;
    flex-direction: row;
    font-size: 20px;
    color: white;
}

#timer{
    text-align: center;
    align-self: center;
    justify-content: center;
    display: flex;
    justify-items: center;
    align-items: center;
    grid-area: header;
    font-size: 30px;
    border: rgba(255, 255, 255, 0.493) 2px solid;
    color: rgba(255, 255, 255, 0.925);
    height: 40px;
    width: 200px;
    margin-top: 200px;
    background-color:rgba(0, 0, 0, 0.61)
}